---
import Loginform from "../components/Loginform.astro"
import ThemeToggle from "../components/ThemeToggle.astro"
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-white text-black dark:bg-slate-900 dark:text-black">
		<ThemeToggle />
		<Loginform title="Accede a tu cuenta" />
	</body>
</html>
